@page "/my-quizzes"
@using ApiContracts
@using HostApp.Components.Lib
@using HostApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IQuizService QuizService
@inject AuthenticationStateProvider AuthStateProvider;

<div class="centered-page">
    <div class="content-page">
        <h3>Mine Quizzer</h3>

        <div class="buttons">
            <input type="text" placeholder="Søg efter titel" @bind="query">
            <button @onclick="UpdateResults">Søg</button>
            <div class="spacer"></div>
            <NavLink href="/quiz/create"><button class="right">Opret Quiz</button></NavLink>
        </div>

        @if (quizzes is not null)
        {
            <button @onclick="PreviousPage">Forrige side</button>
            <span>Side @(pageIndex + 1) ud af @pages</span>
            <button @onclick="NextPage">Næste side</button>
            <div>Viser @quizzes.Quizzes.Count() ud af @quizzes.Count der matcher din søgning</div>
            <div class="cards-list">
                @foreach (var quiz in quizzes.Quizzes)
                {
                    <QuizCard Quiz="@quiz" />
                }
            </div>
        }
    </div>
</div>

@code {

    private QuizQueryDTO? quizzes;

    private String query;

    private int pageIndex = 0;
    private int pageSize = 20;

    private int pages => (int)Math.Ceiling((double)quizzes.Count / pageSize);

    protected override async Task OnParametersSetAsync()
    {
        await UpdateResults();
    }

    private async Task UpdateResults()
    {
        quizzes = await QuizService.QueryMany(query, ["public", "private"], int.Parse((await AuthStateProvider.GetAuthenticationStateAsync()).User.FindFirst("Id")!.Value), pageIndex * pageSize, pageSize);
    }

    private async Task PreviousPage()
    {
        pageIndex -= 1;
        if (pageIndex < 0) pageIndex = 0;
        await UpdateResults();
        StateHasChanged();
    }

    private async Task NextPage()
    {
        pageIndex += 1;
        if (pageIndex > pages - 1) pageIndex = pages - 1;
        await UpdateResults();
        StateHasChanged();
    }

}