@page "/Quizzes"
@using ApiContracts
@using HostApp.Components.Lib
@using HostApp.Services
@inject IQuizService QuizService

<PageTitle>Kahoot++ | Quizzer</PageTitle>

<div class="centered-page">
    <div class="content-page">
        <h3>Find Quizzer</h3>

        <div class="query-options">
            <input type="text" placeholder="Søg efter titel" @bind="query">
            <button @onclick="UpdateResults">Søg</button>
        </div>

        <QuizResultsList QuizQueryResults="@quizzes" NextPage="@NextPage" PreviousPage="@PreviousPage" CurrentPage="@pageIndex" TotalPages="@pages" />
    </div>
</div>

@code {

    private QuizQueryDTO? quizzes;

    private String query;

    private int pageIndex = 0;
    private int pageSize = 20;

    private int pages => (int)Math.Ceiling((double)(quizzes?.Count ?? 0) / pageSize);

    protected override async Task OnParametersSetAsync()
    {
        await UpdateResults();
    }

    private async Task UpdateResults()
    {
        quizzes = await QuizService.QueryMany(query, null, null, pageIndex * pageSize, pageSize);
    }

    private async Task PreviousPage()
    {
        pageIndex -= 1;
        if (pageIndex < 0) pageIndex = 0;
        await UpdateResults();
        StateHasChanged();
    }

    private async Task NextPage()
    {
        pageIndex += 1;
        if (pageIndex > pages - 1) pageIndex = pages - 1;
        await UpdateResults();
        StateHasChanged();
    }

}