@page "/quiz/{QuizId:int}/edit"
@using ApiContracts
@using HostApp.Services
@inject IQuestionService QuestionService
@inject IAnswerService AnswerService
@inject IQuizService QuizService

<PageTitle>Kahoot++ | Quiz Editor</PageTitle>

@if (_quizDto == null)
{
    <h1>@_quizStatusText</h1>
}
else
{
    <div class="layout">
        <div class="sidebar">
            <div class="sidebar-header">
                <button class="add-question-button" @onclick="AddQuestion">Tilføj</button>
            </div>
            <div class="sidebar-content">
                @for (int i = 0; i < _questions.Count; i++)
                {
                    int index = i; // Goofy ahh
                    QuestionDTO question = _questions[index];
                    <button class="question-button @(question.Equals(_selectedQuestion) ? "marked" : "")" @onclick="() => ChangeQuestion(index)">@question.Title</button>
                }
            </div>
        </div>
        <div class="content">
            @if (_selectedQuestion != null)
            {
                <div class="content-header">
                    <button @onclick="DeleteCurrentQuestion" class="delete-button"></button>
                </div>
                <div class="content-title">
                    <input class="question-input" placeholder="Skriv dit spørgsmål her" @bind="QuestionText" type="text"/>
                    <p class="error-text">@_questionTextError</p>
                </div>
                <h2 class="options-title">Svarmuligheder:</h2>
                <div class="answers-container">
                    @for (int i = 0; i < 4; i++)
                    {
                        int index = i; // Bro hvorfor skal den her være der?!?!
                        <div class="answer color-@index @(String.IsNullOrWhiteSpace(_answers[index]) ? "empty-answer" : "")">
                            <input class="answer-title" placeholder="Svarmulighed..." value="@_answers[index]" @onchange="e => HandleAnswerChange(index, e.Value?.ToString())"/>
                            <input class="correct-answer" type="checkbox" checked="@_answersIsCorrect[index]" value="@_answersIsCorrect[index]" @onchange="e => HandleCorrectChange(index, (bool)e.Value!)"/>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="select-quiz-error">
                    @if (_questions.Count > 0)
                    {
                        <h1>Vælg venligst et spørgsmål</h1>
                    }
                    else
                    {
                        <h1>Tilføj et spørgsmål</h1>
                    }
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter] public int QuizId { get; set; }
    private QuizDTO? _quizDto;
    private string _quizStatusText = "";

    private List<QuestionDTO> _questions = [];

    private string? _questionText = "";
    private string? _questionTextError = "";


    private string? QuestionText
    {
        get => _questionText;
        set
        {
            _questionText = value;
            OnQuestionFinished();
        }
    }

    private static readonly int MaxQuestions = 4;
    private readonly string[] _answers = new string[MaxQuestions];
    private readonly bool[] _answersIsCorrect = new bool[MaxQuestions];

    private QuestionDTO? _selectedQuestion;
    private List<AnswerDTO>? _selectedQuestionAnswers;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _quizDto = await QuizService.GetQuiz(QuizId);

            _questions = await QuestionService.GetQuestionsFromQuiz(QuizId);
            _selectedQuestion = _questions.Count > 0 ? _questions[0] : null;

            await Refresh();
        }
        catch (Exception e)
        {
            _quizStatusText = e.Message;
        }
    }

    private async Task Refresh()
    {
        _questionTextError = "";
        
        _questions = await QuestionService.GetQuestionsFromQuiz(QuizId);
            
        if (_selectedQuestion != null)
        {
            _questionText = _selectedQuestion.Title;
            _selectedQuestionAnswers = await AnswerService.GetAnswersFromQuestionAsync(_selectedQuestion.QuestionId);
            if (_selectedQuestionAnswers.Count < 2) _questionTextError = "Et spørgsmål kræver mindst 2 svarmuligheder, for at en quiz kan spilles";
            
            for (int i = 0; i < MaxQuestions; i++)
            {
                try
                {
                    var answer = _selectedQuestionAnswers[i];
                    _answers[answer.Index - 1] = answer.Title;
                    _answersIsCorrect[answer.Index - 1] = answer.IsCorrect;
                }
                catch (Exception e)
                {
                    _answers[i] = "";
                    _answersIsCorrect[i] = false;
                }
            }
        }

        StateHasChanged();
    }

    private async void ChangeQuestion(int index)
    {
        _questionTextError = "";
        _selectedQuestion = _questions[index];

        await Refresh();
    }

    private void OnQuestionFinished()
    {
        _questionTextError = "";
        if (_selectedQuestion is null || QuestionText is null) return;
        if (String.IsNullOrWhiteSpace(_questionText))
        {
            _questionTextError = "Question cannot be empty";
            StateHasChanged();
            return;
        }

        _selectedQuestion.Title = QuestionText;
        QuestionService.UpdateQuestion(_selectedQuestion);
    }

    private void HandleAnswerChange(int index, string? value)
    {
        _answers[index] = value ?? String.Empty;
        OnAnswerFinished(index);
    }

    private void HandleCorrectChange(int index, bool value)
    {
        _answersIsCorrect[index] = value;
        OnAnswerFinished(index);
    }

    private async void OnAnswerFinished(int index)
    {
        if (_selectedQuestion is null || _selectedQuestionAnswers is null) return;

        AnswerDTO? answer = _selectedQuestionAnswers.Find(a => a.Index == index + 1);
        if (String.IsNullOrWhiteSpace(_answers[index]))
        {
            if (answer == null) return;

            await AnswerService.DeleteAnswerAsync(answer.AnswerId);
        }
        else
        {
            if (answer == null)
            {
                var createdAnswer = new CreateAnswerDTO
                {
                    Index = index + 1,
                    Title = _answers[index],
                    IsCorrect = _answersIsCorrect[index],
                    QuestionId = _selectedQuestion.QuestionId
                };
                await AnswerService.AddAnswerAsync(createdAnswer);
            }
            else
            {
                answer.Title = _answers[index];
                answer.IsCorrect = _answersIsCorrect[index];
                await AnswerService.UpdateAnswerAsync(answer);
            }

        }

        await Refresh();
    }

    private async void AddQuestion()
    {
        _selectedQuestion = await QuestionService.AddQuestion(new CreateQuestionDTO
        {
            Title = "New Question",
            QuizId = QuizId
        });

        await Refresh();
    }

    private async void DeleteCurrentQuestion()
    {
        if (_selectedQuestion is null) return;

        await QuestionService.DeleteQuestion(_selectedQuestion.QuestionId);
        _selectedQuestion = null;

        await Refresh();
    }

}