@page "/quiz/{id:int}"
@using ApiContracts
@using BlazorApp.Components.Modals
@using BlazorApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IQuizService QuizService;
@inject IQuestionService QuestionService;
@inject NavigationManager Nav;

@if (Quiz is not null)
{
    <h3>@Quiz.Title</h3>
    <p>@Quiz.Visibility</p>
    <h6>Lavet af @Quiz.Creator.Username</h6>

    <p>Indeholder @Quiz.QuestionCount spørgsmål:</p>
    <ul>
        @foreach (var question in Questions)
        {
            <li>@question.Title</li>
        }
    </ul>

    <AuthorizeView>
        <Authorized>
            <NavLink href=@("/quiz/" + Quiz.Id + "/play")>
                <button>Spil nu</button>
            </NavLink>
            @if (context.User.FindFirst("Id")!.Value == Quiz.CreatorId.ToString())
            {
                <NavLink href=@("/quiz/" + Quiz.Id + "/edit")>
                    <button>Rediger quiz</button>
                </NavLink>
                <button @onclick="() => _visibilityModal.Show()">Ændre synlighed quiz</button>
                <button @onclick="() => _renameModal.Show()">Omdøb quiz</button>
                <button style="color: red" @onclick="() => _deleteModal.Show()">Slet quiz</button>
            }
        </Authorized>
    </AuthorizeView>
}
else
{
    <p><em>Quiz ikke fundet :(</em></p>
}

<ConfirmModal @ref="_deleteModal"
              Title="Bekræft sletning"
              Message="Er du sikker på, at du vil slette quizzen?"
              OnClose="HandleDeleteConfirmation" />

<RenameModal @ref="_renameModal"
             Title="@($"Omdøb{Quiz?.Title}")"
             Message="Hvad skal quizzen omdøbes til?"
             Name="@Quiz?.Title"
             OnClose="HandleRename" />

<OptionsModal @ref="_visibilityModal"
              Title="Vælg synlighed for din quiz"
              Message="Vælg en synlighed for din quiz:"
              Value="@Quiz?.Visibility"
              Options="@(["Offentlig", "Privat"])"
              OptionValues="@(["public", "private"])"
              OnClose="HandleVisibility" />

@code {
    private ConfirmModal? _deleteModal;
    private RenameModal? _renameModal;
    private OptionsModal? _visibilityModal;

    [Parameter] public int Id { get; set; }

    private QuizDTO Quiz { get; set; }
    private List<QuestionDTO> Questions { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Quiz = await QuizService.GetQuiz(Id);
        Questions = await QuestionService.GetQuestionsFromQuiz(Id);
    }

    private async Task HandleDeleteConfirmation(bool confirmed)
    {
        if (confirmed)
        {
            await QuizService.DeleteQuiz(Quiz.Id);
            Nav.NavigateTo("/my-quizzes");
        }
    }

    private async Task HandleRename(string? newName)
    {
        if (newName != null && Quiz.Title != newName)
        {
            Quiz = await QuizService.UpdateQuiz(Id, newName, Quiz.Visibility);
        }
    }

    private async Task HandleVisibility(string? newVisibility)
    {
        if (newVisibility != null && Quiz.Visibility != newVisibility)
        {
            Quiz = await QuizService.UpdateQuiz(Id, Quiz.Title, newVisibility);
        }
    }

}