@page "/results/{gameId}"
@using ApiContracts
@using HostApp.Services
@inject IGameResultsService GameResultsService;
@inject IQuestionService QuestionService;
@inject IAnswerService AnswerService;
@if (Game is not null && Questions is not null && Participants is not null)
{
    <h1>@Game.Quiz.Title</h1>

    <div class="main-grid">
        <fieldset>
            <legend><h2>Questions</h2></legend>
            @foreach (QuestionDTO question in Questions)
            {
                <fieldset>
                    <legend>
                        <NavLink href=@($"/results/{GameId}/questions/{question.QuestionId}")>@question.Title</NavLink>
                    </legend>
                    <div>
                        Antal svar: @ParticipantAnswers[question.QuestionId].Count
                    </div>
                    @foreach (AnswerDTO answer in Answers[question.QuestionId])
                    {
                        <div class="answer answer-@(answer.IsCorrect ? "correct" : "wrong")">@answer.Title:
                                                                                                          Svaret @(answer.IsCorrect ? "korrekt" : "forkert") af @ParticipantAnswers[question.QuestionId].Count(q => q.AnswerId == answer.AnswerId)</div>
                    }
                </fieldset>
            }
        </fieldset>
        <fieldset>
            <legend><h2>Spillere</h2></legend>
            @{
                var participants = Participants.OrderByDescending(p => p.Score).ToList();
                @for (int i = 0; i < participants.Count; i++)
                {
                    var participant = participants[i];
                    <div class="ranking ranking-@i">@participant.ParticipantName
                        - @Answers.Values.SelectMany(x => x).Count(a => participant.Answers.Any(pa => pa.AnswerId == a.AnswerId) && a.IsCorrect) korrekte
                        svar
                        - @participant.Score</div>
                }
            }
        </fieldset>
    </div>
}

@code {
    [Parameter] public required string GameId { get; set; }

    public GameResultDTO? Game { get; set; }
    public List<QuestionDTO>? Questions { get; set; }
    public Dictionary<int, List<AnswerDTO>> Answers { get; set; } = new();
    public List<GameParticipantDTO>? Participants { get; set; }
    public Dictionary<int, List<GameParticipantAnswerDTO>> ParticipantAnswers { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        Game = await GameResultsService.GetGame(GameId);
        Questions = await QuestionService.GetQuestionsFromQuiz(Game.QuizId);
        Participants = await GameResultsService.GetParticipants(GameId);

        foreach (var question in Questions)
        {
            Answers[question.QuestionId] = await AnswerService.GetAnswersFromQuestionAsync(question.QuestionId);
            ParticipantAnswers[question.QuestionId] = await GameResultsService.GetAnswers(GameId, question.QuestionId);
        }
    }

}