@page "/host"
@layout EmptyLayout
@using ApiContracts
@using HostApp.Components.Layout
@using HostApp.Components.Lib
@using HostApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IQuizHostService QuizHostService;
@inject NavigationManager Nav;

<AuthorizeView>
    <Authorized>
        <div class="quiz-background">
            <div class="quiz-body">
                @switch (GameStatus?.CurrentState)
                {
                    case "lobby":
                        <h2>@GameStatus.Quiz.Title</h2>
                        <h1>Join med denne kode: @GameStatus.JoinCode</h1>

                        <ul>
                            @foreach (var player in GameStatus.Players)
                            {
                                <li>@player.Name</li>
                            }
                        </ul>

                        <button @onclick="StartQuiz">Start</button>
                        break;
                    case "question-countdown":
                        @if (CurrentQuestion is not null)
                        {
                            <div class="center-vertical">
                                <h1 class="question-title">@CurrentQuestion.Title</h1>
                                <span class="question-countdown">Du kan svare om <Countdown Start="GameStatus.RelTime" End="GameStatus.CountdownToTime" /> sekunder!</span>
                            </div>
                        }

                        break;
                    case "question-answering":
                        @if (CurrentQuestion is not null)
                        {
                            <div class="question-title-sm">@CurrentQuestion.Title</div>
                            <div class="question-answering-time">
                                <Countdown Start="GameStatus.RelTime" End="GameStatus.CountdownToTime" />
                                sekunder!
                            </div>
                            <div class="question-answered-count">@GameStatus.PlayersAnswered/@GameStatus.Players.Count har
                                                                                            svaret!
                            </div>
                            <div class="answers">
                                @foreach (var answer in CurrentQuestion.Answers)
                                {
                                    <div class="answer answer-@answer.Index">
                                        @answer.Title
                                    </div>
                                }
                            </div>
                        }

                        <button class="fixed-continue-button" @onclick="ContinueQuiz">Continue</button>

                        break;
                    case "question-answer":
                        @if (CurrentQuestion is not null)
                        {
                            <div class="question-title-sm">@CurrentQuestion.Title</div>
                            <div class="answers answers-highlight-correct">
                                @foreach (var answer in CurrentQuestion.Answers)
                                {
                                    <div class="answer answer-@answer.Index @(answer.IsCorrect ? "answer-correct" : "")">
                                        @answer.Title
                                    </div>
                                }
                            </div>
                        }

                        <button class="fixed-continue-button" @onclick="ContinueQuiz">Continue</button>

                        break;
                    case "leaderboard":
                        @if (CurrentQuestion is not null)
                        {
                            <p>Her er hvem der fører...</p>
                            <span>Fortsætter om <Countdown Start="GameStatus.RelTime" End="GameStatus.CountdownToTime" /> sekunder</span>
                        }

                        <div class="leaderboard">
                            <div class="player-rankings">
                                @for (int i = 0; i < GameStatus.Players.Count; i++)
                                {
                                    var player = GameStatus.Players[i];
                                    <div class="player-ranking-slot">
                                        <div class="player-ranking-rank">@(i + 1).</div>
                                        <div class="player-ranking-name">@player.Name</div>
                                        <div class="player-ranking-score">@player.Score point (+@player.LatestScoreChange)</div>
                                    </div>
                                }
                            </div>
                        </div>

                        <button class="fixed-continue-button" @onclick="ContinueQuiz">Continue</button>
                        break;
                    case "game-over":
                        <h1>Det endelige resultat</h1>
                        <div class="podium">
                            @if (GameStatus.Players.Count >= 2)
                            {
                                <div class="podium-stand podium-stand-2">
                                    <div class="podium-title">2.</div>
                                    <div class="podium-player-name">
                                        @GameStatus.Players[1].Name
                                    </div>
                                    <div class="podium-player-score">
                                        @GameStatus.Players[1].Score point
                                    </div>
                                </div>
                            }
                            @if (GameStatus.Players.Count >= 1)
                            {
                                <div class="podium-stand podium-stand-1">
                                    <div class="podium-title">1.</div>
                                    <div class="podium-player-name">
                                        @GameStatus.Players[0].Name
                                    </div>
                                    <div class="podium-player-score">
                                        @GameStatus.Players[0].Score point
                                    </div>
                                </div>
                            }
                            @if (GameStatus.Players.Count >= 3)
                            {
                                <div class="podium-stand podium-stand-3">
                                    <div class="podium-title">3.</div>
                                    <div class="podium-player-name">
                                        @GameStatus.Players[2].Name
                                    </div>
                                    <div class="podium-player-score">
                                        @GameStatus.Players[2].Score point
                                    </div>
                                </div>
                            }
                            
                            <button class="fixed-continue-button" @onclick='() => Nav.NavigateTo("/results/" + GameId)'>Færdig</button>
                        </div>
                        <div class="the-rest">
                            <div class="player-rankings">
                                @for (int i = 3; i < GameStatus.Players.Count; i++)
                                {
                                    var player = GameStatus.Players[i];
                                    <div class="player-ranking-slot">
                                        <div class="player-ranking-rank">@(i + 1).</div>
                                        <div class="player-ranking-name">@player.Name</div>
                                        <div class="player-ranking-score">@player.Score point</div>
                                    </div>
                                }
                            </div>
                        </div>
                        break;
                    default:
                        <p>Hmmm</p>
                        <button @onclick="ContinueQuiz">Continue</button>
                        break;
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        Du skal logge ind for at hoste denne quiz.
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] [SupplyParameterFromQuery] public string GameId { get; set; }
    private LiveGameHostStatusDTO? GameStatus { get; set; }

    private LiveGameQuestionDTO? CurrentQuestion => GameStatus.Questions.Find(q => q.QuestionId == GameStatus.CurrentQuestionId);

    protected override async Task OnParametersSetAsync()
    {
        GameStatus = await QuizHostService.GetGameInfo(GameId);
        GetNextStatus();
    }

    private async Task GetNextStatus()
    {
        GameStatus = await QuizHostService.GetGameInfo(GameId, GameStatus?.UpdateNo ?? 0);
        StateHasChanged();
        GetNextStatus();
    }

    private async Task StartQuiz()
    {
        await QuizHostService.StartQuiz(GameId);
    }

    private async Task ContinueQuiz()
    {
        await QuizHostService.ContinueQuiz(GameId);
    }

}